upstream echo_pqc_1_backend {
  server 127.0.0.1:8083;
}
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name echo-pqc-1.lvh.me;
    charset UTF-8;
    # root /var/www/example.com;
    # index index.html index.php;
    ssl_certificate /opt/certs/pqc.crt;
    ssl_certificate_key /opt/certs/pqc.key;
    ssl_protocols TLSv1.3;
    ssl_prefer_server_ciphers on;
    # ssl_ecdh_curve X25519MLKEM768:x25519_kyber768:p384_kyber768:x25519:secp384r1:x448:secp256r1:secp521r1;
    ssl_ecdh_curve X25519MLKEM768:x25519:secp384r1:x448:secp256r1:secp521r1;
    location / {
      proxy_set_header  X-Real-IP $remote_addr;
      proxy_set_header  X-SSL-Curve $ssl_curve;
      proxy_pass http://echo_pqc_1_backend;
    }
}
